* {
  box-sizing: border-box;
}

body{
  //background-color: red;

}

html {
  font-size: 30px;
}

.clear{
  clear:both;
}

@import '_reset';
@import '_partials';

header{
  font-family: "latohairline", sans-serif;
  background-image: url('../images/layer.jpg');
  background-size: 100% auto;
  padding-bottom: 65%;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  color: white;
  text-align: center;
  padding-top: 1%;

  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.456rem;
  }
  ul{
    list-style-type: none;
    li {
      margin: 30px;
    }
  }
}

.mainWidth{
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}



  $base-grid-width: 100%/12;
  $gutter-width: 1;

  @function grid-width($n) {
    @return $n * $base-grid-width;
  }

  .grid-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .row:after,
    .row:before {
      display: table;
      clear: both;
      content: '';
    }
    [class*='col-'] {
      float: left;
      min-height: 1px;
      border: 1px solid red;
    }
    @for $i from 1 through 12 {
      .col-#{$i} {
        width: grid-width($i);
      }
    }
  }

  @media (max-width: 500px) and (orientation: portrait) {
    .grid-container [class*="col-"] {
      float: none;
      width: auto;
      background-color: blue;
    }
  }

.icons{
  background-image: url('../images/icons/header/layer.png');
  background-size: 83% auto;
  background-position: center;
  padding-bottom: 109%;
  width: 100%;
  height: 0;
  display: block;
  background-repeat: no-repeat;
  img {
    width:30%;
    padding-top: 37%;
  }
}

.down{
  margin-top: 180px;
}

.down1{
  margin-top: 50px;
}

 //MOJE NIEUDANE PRÓBY Z OSTATNIM WIERSZEM ZE STRZAŁKĄ 108-125

.arrow-container {
  width: 10%;
  max-width: 100%;
  border:1px solid red;
  display:inline-block;
  background-color: green;
    img{
      margin-top: 10%;
    }
}

//STICKY MENU

.menu{

  font-weight: bold;

    p {
      font-family: "existencelight", sans-serif;
      color: grey;
    }
    span{
      font-family: "existencelight", sans-serif;
      color: deeppink;
    }
}

.stickyMenu {
  padding-bottom: 6%;
  text-align: center;
  font-family: "latohairline", sans-serif;
  width: 100%;
  background-color: white;
  font-size: 18px;

  p {
    float: left;
    font-size: 280%;
    padding-top: 7%;
    width: 20%;

  }
  ul {
    float: right;
    text-align: right;
    padding-top: 9%;
    padding-left: 2%;
    width:70%;

    li {
      display: inline-block;
      padding-left: 3%;
      font-size: 18px;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      padding-top: 5%;
      font-size: 1em;
      font-family: "latoregular", sans-serif;
      color: grey;
    }
  }
}

.sticky{
  position: fixed;
  top: 0;
}

//SECOND SECTION

.buildWithLove{
  height: 800px;
  background-color: #eeeeee;
  padding-top: 250px;
  font-family: "latolight", sans-serif;
  text-align: center;

    div{
      color: #676767;

      h1{
        font-size: 170%;
        padding-bottom: 10%;
      }

      p{
        font-size: 119%;
        line-height: 180%;

      }
    }

  }

//THIRD SECTION

.aboutUs{
  height: 800px;
}