* {
  box-sizing: border-box;
}

.clear{
  clear:both;
}

@import '_reset';
@import '_partials';

header{
  font-family: "latohairline", sans-serif;
  background-image: url('../images/layer.jpg');
  background-size: 100% auto;
  padding-bottom: 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  color: white;
  text-align: center;
  padding-top: 1%;
  font-size: 100px;


  h1{
    font-size: 40%;
    margin-top: 1%;
    padding-bottom: 3%;
  }
  h2{
    font-size: 20%;
  }
  ul{
    list-style-type: none;
    img {
      width: 40%;
      padding-bottom: 5%;
    }
  }
}

.higher{
  margin-bottom: 24%;
}

.mainWidth{
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  border: 1px solid blue;
}


  $base-grid-width: 100%/12;
  $gutter-width: 1;

  @function grid-width($n) {
    @return $n * $base-grid-width;
  }

  .grid-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .row:after,
    .row:before {
      display: table;
      clear: both;
      content: '';
    }
    [class*='col-'] {
      float: left;
      min-height: 1px;
      //border: 1px solid red;
    }
    @for $i from 1 through 12 {
      .col-#{$i} {
        width: grid-width($i);
      }
    }
  }

  @media (max-width: 500px) and (orientation: portrait) {
    .grid-container [class*="col-"] {
      float: none;
      width: auto;
    }
  }

.icons{
  background-size: 83% auto;
  background-position: center;
  padding-bottom: 109%;
  width: 100%;
  height: 0;
  display: block;
  background-repeat: no-repeat;
  img {
    width:30%;
    padding-top: 37%;
  }
}

.down{
  margin-top: 180px;
}

.down1{
  margin-top: 50px;
}

.changing1{
  background-image: url('../images/icons/header/layer.png');
  transition: 1s;

}
.changing1:hover{
  background-image: url('../images/icons/violet_shape.png');
}


.arrow-container {
  width: 10%;
  max-width: 100%;
  display:inline-block;
}

.blankDiv{
  height: 100px;
  width: 100%;
  background-color: #eeeeee;
}


.notVisible {
  display: none;
}


.menuBtn {
  span {
    display: block;
    width: 19px;
    height: 5px;
    margin: 4px 0;
    background: black;

  }
}

.mobileNav{
  position: fixed;
  z-index: 100;
  top: 0;
    a {
      font-family: "latohairline", sans-serif;
      text-decoration: none;
      color: black;
    }
}

.mobileNav {
      ul{
          padding: 5px 0 0 5px;
          width: 156px;
      }
        li {
          background-color: rgba(192,192,192,0.5);
          font-family: "latoregular", sans-serif;
          font-weight: bold;
          display: block;
          padding: 15px;
          border: 1px solid grey;
          text-align: center;
          font-size: 20px;
        }
    }


//STICKY MENU

.menu{

  font-weight: bold;

    p {
      font-family: "existencelight", sans-serif;
      color: grey;
    }
    span{
      font-family: "existencelight", sans-serif;
      color: #9f449b;
    }
}

.stickyMenu {
  padding-bottom: 2%;
  text-align: center;
  font-family: "latohairline", sans-serif;
  width: 100%;
  background-color: white;
  z-index: 999;
  border: 1px solid black;

  p {
    float: left;
    font-size: 160%;
    padding-top: 4%;
    width: 20%;

  }
  ul {
    float: right;
    text-align: right;
    padding-top: 5%;
    padding-left: 2%;
    width:70%;

    li {
      display: inline-block;
      padding-left: 3%;
      font-size: 70%;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      padding-top: 5%;
      font-size: 1em;
      font-family: "latoregular", sans-serif;
      color: grey;
    }
  }
}

.sticky{
  position: fixed;
  top: 0;
}

//SECOND SECTION

.buildWithLove{
  background-color: #eeeeee;
  padding-top: 10%;
  font-family: "latolight", sans-serif;
  text-align: center;
  padding-bottom: 10%;

    div{
      color: #676767;

      h1{
        font-size: 170%;
        padding-bottom: 10%;
      }

      p{
        font-size: 105%;
        line-height: 170%;
      }
    }
  }

//THIRD SECTION

.aboutUs {
  width: 100%;
  font-family: "latolight", sans-serif;
  margin-top: 9%;
  margin-bottom: 9%;
  }

.headerAboutUs {
  border: 1px solid green;
  width: 30%;
  margin: 0 auto;

  img {
    width: 100%;

    #logotype {
      float: none;
      width: 100%;
    }
  }
}
.insideBox {
  margin-top: 5%;

  .textBox {
    float: right;
    width: 49%;
    color: #676767;
    p {
      width: 100%;
      border: 1px solid red;
      font-size: 90%;
      line-height: 170%;
      position: relative;
      padding-bottom: 30%;
    }
  }
}

.macPhotos{
  float: left;
  width: 50%;
  border: 1px solid blue;
    img{
      width: 100%;
    }
}

.buttonLearn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 15%;
  background: #9f449b;
  border-radius: 10%;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  font-size: 100%;
  text-decoration: none;
  font-family: "latolight", sans-serif;
  }

// FOURTH SECTION

.backgroundLayer {
  background: url('../images/layer_down.jpg');
  background-size: 100% auto;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  font-family: "latolight", sans-serif;
  //padding-bottom: 65%;
  background-position: 0 55%;
  background-attachment: fixed;
  padding: 15% 0 15% 0;
}

.contentKnowledgeBox {
  font-size: 35px;
  .knowledge {
    width: 10%;
    max-width: 100%;
    border:1px solid red;
    display:inline-block;


    .icons{
      padding-top: 20%;
    }
  }

  img.knowledgeLayer {
    width: 45%;
    margin-top: -6%;
  }
  p{
    margin-top: 2%;
    font-size: 100%;

  }
}

//FIFTH SECTION

.ourTeam{
  background-size: 100% auto;
  color: #cdcdcd;
  text-align: center;
  font-family: "latolight", sans-serif bold;
  background-repeat: no-repeat;
  margin-top: 5%;
  margin-bottom: 9%;


    //poprawić na RWD
    //width: 30%;
    //margin: 0 auto;
    //
    //img{
    //  width: 100%;
    //}
}
.headerOurTeam{
  border: 1px solid mediumvioletred;
  width: 30%;
  display: inline-block;
  img{
    width: 100%;
  }
}

.headerSkills {
  margin: 0 auto;
  width: 30%;
    img{
      width: 100%;
    }
}

.layerBoxes {
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  margin-top: 4%;
  width: 10%;

  .prevArrow {
    width: 47%;
    display: inline-block;
    border: 1px solid blue;
    }

  .nextArrow {
    width: 47%;
    display: inline-block;
    border: 1px solid blue;
  }
}

.memberPhoto{
  padding: 38px;
  float: left;
  box-sizing: border-box;
  width: 33%;
  font-size: 140%;
  margin-top: 2%;

    img{
      width: 100%;
      border-radius: 50%;
      margin-bottom: 35%;
    }
    h1{
      padding-bottom: 10%;
      font-size: 100%;
      font-weight: bold;
      color: #484848;
    }
    h2{
      padding-bottom: 10%;
      font-size: 80%;
      color: #8d8d8d;
    }
}

.opacity {
  opacity: 0.4;
}

.opacity2 {
  opacity: 1;
}

.mediaLogosSlider{
  width: 46%;
  margin: 0 auto;
  border: 1px solid red;

  img {
    width: 28px;
    display: inline-block;
  }
}

.slick-next:before, .slick-prev:before {
  display: none;
}

  //SKILLS

  .skillBoxWeb, .skillBoxGraphic, .skillBoxHTML, .skillBoxUI {
    float: left;
    width: 50%;
    padding: 3% 3% 0 3%;
    color: black;
    font-weight: bold;
    font-family: "titilliumbold", sans-serif;
    .name {
      display: inline-block;
      text-align: left;
      width: 49%;
    }
    .percentage {
      display: inline-block;
      text-align: right;
      width: 49%;
    }
    .full {
      display: block;
      width: 100%;
      background-color: #f0f0f0;
      height: 15px;
        .partial {
          display: block;
          //width: 100%;
          background-color: #9f449b;
          height: 15px;
        }
        .web{
          width: 0;
        }
        .graphic{
          width: 0;
        }
        .html{
          width: 0;
        }
        .ui{
          width: 0;
      }
    }
  }

//SEVENTH SECTION


.quotes{
  background-color: #eeeeee;
  padding-bottom: 5%;
}

.numbers{
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
  font-family: "latolight", sans-serif;
    p{
      padding-top: 1%;
      font-weight: bold;
      font-size: 45px;
      color: #222222;
    }
    h1{
      font-size: 15px;
      color: #979797;
    }
}

.slick-dots li button::before{
  font-size: 19px;
  }

.quotesSlider {
  width:100%;
}

.quotesSection{
  margin: 0 auto;
  height: 290px;
  width: 100%;
  display: inline-block;
  //margin-bottom: 6%;
  //border: 1px dashed red;
  .quotesPhoto {
    box-sizing: border-box;
    //border: 1px solid black;
    display: inline-block;
    width: 100%;
    font-size: 50%;
    margin-top: 8%;
    img {
      width: 18%;
      border-radius: 100%;
      margin: 0 0 0 40%;

    }
    h1{
      text-align: center;
      font-size: 20px;
      padding: 0 10% 2% 10%;
      color: #4b4b4b;

    }
    h2{
      text-align: center;
      font-size: 15px;
      margin-bottom: 1%;
      color: #777777;
    }
  }
}


.backgroundShapeColor{
  background-color: #eeeeee;
}

.backgroundShapeColor1{
  background-color: #777777;
}

//EIGHT SECTION

  .headerOurPortfolio{
    width: 30%;
    margin: 0 auto;

    img{
      width: 100%;
      }
  }

.panel{
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid green;


  li {
    //margin-top: 10%;
    border: 1.5px solid black;
    border-radius: 10%;
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 100%;
    text-decoration: none;
    font-family: "titilliumbold", sans-serif;
    padding: 6px 15px;
    width: 70px;
  }
}

.gallery{
  margin: 0 auto;
  width: 90%;
  display: block;
  //img{
  //    width: 100%;
  //  }
}

.title{
  font-family: "latolight", sans-serif;
  text-align: center;
  font-weight: bold;
  padding-top: 5%;
  font-size: 112%;
}
.margin{
  margin-bottom: 6%;
}

.buttonWatch{
  background: #9f449b;
  border-radius: 10%;
  color: white;
  text-align: center;
  padding: 10px 20px;
  font-size: 100%;
  text-decoration: none;
  margin: 0 auto;
  font-family: "latolight", sans-serif;
  display: block;
}

.hashes {
  margin: 0 auto;
  padding-top: 3%;
  display: inherit;
  text-align: center;
  width: 100%;

  li{
    font-family: "latolight", sans-serif;
    text-align: center;
    font-size: 100%;
    text-decoration: none;
    display: inline-block;
  }
}

//SECTION FORMULAIRE

.formulaire{
  margin-top: 5%;
  margin-bottom: 5%;
}

.headerGetInTouch{
  width: 30%;
  margin: 0 auto;

  img{
    width: 100%;
  }
}

#form {
  width: 48%;
  float: left;

  input {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    font-size: 18px;

    .messageWindow {
        height: 200px;
      }
  }
  textarea {
    width: 100%;
    height: 180px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    //border-color: #878787;

  }
}

.inputBox {
  margin-top: 5%;
  font-family: "titillium", sans-serif;
  width: 100%;
  //border: 1px solid black;
  position: relative;
  margin-right: 5px;

  .textBox {
    float: right;
    width: 48%;
    color: #676767;

    p {
      width: 49%;
      //border: 1px solid red;
      line-height: 170%;

    }
  }
}

.mainSpan {
  font-size: 13px;
  line-height: 25px;
}
.middleSpan {
  font-size: 16px;
  line-height: 25px;

}

.buttonSendMessage{
  background: #9f449b;
  border-radius: 10%;
  color: white;
  padding: 10px 20px;
  font-size: 100%;
  text-decoration: none;
  margin: 0 auto;
  font-family: "latolight", sans-serif;
  margin-top: 3%;

}

.formName{
  display:none;
  color: #676767;
}
.formEmail{
  display:none;
  color: #676767;
}
.formText{
  display:none;
  color: #676767;
}


.mediaLogos {
  display: inline-block;
  float: right;
  width: 48%;
  position: absolute;
  bottom: 0;
  padding-left: 3%;

  img {
    width: 45px;
  }
}


@media (max-width: 800px) and (orientation: portrait) {
  .stickyButtons {
    float: none;
    width: auto;
  }
}

//GALLERY

.pinkHover:hover{
  background-color: #9f449b;
  border: none;
  color: white;
}

.hooverPosition{
  position: relative;
}

.overlay {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 5%;
  font-size: 4em;
}

.biggerPhoto {
  background-color: rgba(0,0,0,.8);
  position: fixed;
  z-index: 999;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  img {
    width: 40%;
    margin-top: 6%;
    margin-left: 30%;
  }
}

.plus {
  color: #ffffff;
  position: absolute;
  top: 35%;
  left: 43%;
  font-size: 100%;
}